

<section id="entry-slug">
    <h3><span>Entry for: </span>{{day.date}}</h3>
    <div class='form-row'>
        <span>Your moods for this day was:  </span>{{day.moods}}
    </div>

    <div class='form-row'>
        <span>Journal Entry: </span><br />{{day.entry}}
    </div>

    <div class='form-row'>
        <span>Temperature: </span> {{day.tempData.temp}} °F
    </div>

    <button id="weatherData">Display Advanced Temperature Data</button>
</section>

<script>
    const button = document.getElementById("weatherData")
    console.log({{day}})
    button.addEventListener("click", function() { 
        button.classList.add("hidden");
        const section = document.querySelector("#entry-slug");
        const div = document.createElement('div');
        div.classList.add("form-row")
        div.innerText = "Advanced Temperature data: ";
        section.appendChild(div)
    });

    class TempData {
        constructor() {

        }
    }
</script>