

<section id="entry-slug">
    <h3><span>Entry for: </span>{{day.date}}</h3>
    <div class='form-row'>
        <span>Your moods for this day was:  </span>{{day.moods}}
    </div>

    <div class='form-row'>
        <span>Journal Entry: </span><br />{{day.entry}}
    </div>

    <div class='form-row'>
        <span>Temperature: </span> {{day.tempData.temp}} °F
    </div>

    <button id="weatherData">Display Advanced Temperature Data</button>
</section>

<script>
    class TempData {
        constructor(feels_like, temp_min, temp_max, pressure, humidity) {
            this.feels_like = feels_like;
            this.temp_min = temp_min;
            this.temp_max = temp_max;
            this.pressure = pressure;
            this.humidity = humidity;
        }

        displayData(parentEle) {
            const asArray = Object.entries(this);
            asArray.map((ele) => {
                const div = document.createElement('div');
                div.innerText = ele[0]+': ' + ele[1];
                parentEle.appendChild(div);
            })
            console.log(asArray);
        }
    }

    const button = document.getElementById("weatherData")
    button.addEventListener("click", function() { 
        button.classList.add("hidden");
        const section = document.querySelector("#entry-slug");
        const div = document.createElement('div');
        div.classList.add("form-row")
        div.innerText = "Advanced Temperature data: ";
        const tempData = new TempData({{day.tempData.feels_like}}, {{day.tempData.temp_min}}, {{day.tempData.temp_max}}, {{day.tempData.pressure}},{{day.tempData.humidity}});
        section.appendChild(div);
        tempData.displayData(div);
    });

   
</script>